#toc
  float right
  font-size 0.8em
  color #565a5f
  margin 50px
  position relative
  left 50px
  .toc
   
    list-style none
    padding 10px
  .toc-item,.toc-link
    list-style none
  ol
    margin 0
  @media screen and (max-width: 640px)
    display none
   